<!-- I AM 15_CHECKERBOARD/TEMPLATES/INDEX.HTML -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- static files need to be linked using jinja  -->
            <!-- url_for takes 2 parameters; first is folder name, second is filename=""-->
            <!-- url_for() is an existing function in jinja, needs to be named as is -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <title>Checkerboard</title>

     <!-- <style>
        table tr td{
            width: 50px;
            height: 50px
        }
    
        .color1{
            background-color: blue;
        }
    
        .color2{
            background-color: red;
        }
    </style> -->

</head>

<body>

<h1>4 by 4 Matrix</h1>
<table class="table">
    {% for i in range(times): %}
        <tr class="row">
            {% for j in range(times): %}
            <td class = "color1"></td>
            <td class = "color2"></td>  
            {% endfor %}   

        </tr>

        <tr class="row">
            {% for j in range(times): %}
            <td class = "color2"></td>
            <td class = "color1"></td>   
            {% endfor %}      

        </tr>
    {% endfor %}

</table>

</body>

</html>

<!-- START BACKWARDS?  Do that for 14_PLAYGROUND -->