<!-- 
I AM 15_CHECKERBOARD/TEMPLATES/INDEX.HTML
 -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="static/css/style.css">
     <title>Checkerboard</title>

     <!-- <style> 
        table tr td{
            width: 50px;
            height: 50px
        }
         .color1{
             background-color: blue;
         }
         .color2{
             background-color: red;
         }
     </style>
      -->
 </head>
 <body>

    
<!-- BELOW CODE WORKS WITH 15_checkerboard server.py line 22 -->

<h1>4 by 4 Matrix</h1>
<table class="table">
    {% for i in range(4): %}
        <tr .class="row">
            {% for j in range(4): %}
            <td class = "color1"></td>
            <td class = "color2"></td>  
            {% endfor %}   
            <!--row-->
        </tr>

        <tr .class="row">
            {% for j in range(4): %}
            <td class = "color2"></td>
            <td class = "color1"></td>   
            {% endfor %}      
            <!--row-->
        </tr>
    {% endfor %}
    <!-- table -->
</table>


    <!-- HTML 3 -->

    <!-- <h3>My Flask Template</h3>
    <p>Phrase: {{ phrase }}</p>
    <p>Times: {{ times }}</p>
      
    {% for x in range(0,times): %}
        <p>{{ phrase }}</p>
    {% endfor %}
      
    {% if phrase == "hello" %}
        <p>The phrase says hello</p>
    {% endif %}

    {% if phrase == "marcus" %}
        <p>Do not ignore your anxities.  Discard them</p>
    {% endif %} -->

        <!-- HTML 4

        <h3>Which Emperor Are You?</h3>
        <p>Phrase: {{ phrase }}</p>
        <p>Times: {{ times }}</p>
          
        {% for x in range(0,times): %}
            <p>{{ phrase }}</p>
        {% endfor %}
          
        {% if phrase == "nero" %}
            <p>Watch out for Galba</p>
        {% endif %}

        {% if phrase == "marcus" %}
            <p>I did not ignore my anxities.  I discarded them</p>
        {% endif %}
     -->
 </body>
 </html>


<!-- START BACKWARDS?  Do that for 14_PLAYGROUND -->