
/* I AM 18_counter static/css/style.css */

.bigger-font{
    font-size: 35px;
}
p{
    text-align: center;
}

.box_FLV_vespasian{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.green{
    background-color: green;
    margin-right: 5px;
}

.red{
    background-color: red;
}