<!-- I AM 70_POST_FORM_SUBMISSION_KW INDEX.HTML -->

<!-- # KW PYTHON APRIL 2022 INTRO TO FORMS AND POST DATA -->

<!-- THIS SHOULD BE ON RECORD: -->
<!-- If it wasn't for Kaysee's videos, I'd be on AP -->
<!-- I already have notebooks full of diagrams and references -->
<!-- Instead of notebook, I will track things on VSCode -->
                <!--  Danny Meyer Catching People Doing Right-->
<!-- For my own references and for TC -->

<!-- I'll need to retake python-->
<!-- not because I'm failing  -->
<!-- but because I'm trading space for time -->
<!-- Napoleon said-->
<!-- Space I can recover.  Time, never. -->
<!-- I am an active learner and I am good at research -->
<!-- I know how to find answers, this is me figuring out what I'll
need -->

<!-- THE LEARNING PLATFORM IS AN INEFFICENT USE OF TIME -->
<!-- It's not that there are too many assignments -->
<!-- It's that there aren't enough exercises to do -->
<!-- I can create exercises -->
<!-- I can break things down into small tasks -->
<!-- LP should be Napoleonic Corp/Ukraine, not Prussia/Russia-->
                    <!-- Greek/Persian -->

<!-- TC -->
<!-- This file is the beginning of the campaign -->
<!-- 1. like [tennis playerMIT] I am carving out my niche -->
        <!-- Teacher, Analyst, Hospitality, Design -->
<!-- 2. Demonstration -->
<!-- 3.  Project -->
        <!-- Beer Data-base -->
        <!-- algo for $ per alc % -->
<!-- 3.  It is worth the extra $500?  YES!  More mentorship for project
                    THAT'S A GREAT INVESTMENT -->
                    <!-- (make time work for me) -->
<!-- 4.  Also, I want to 'stage' to be Coding Dojo instruction team -->
            <!-- maybe I can create my own position -->
<!-- /////////// -->

<!-- Think of it this way, the tediousness of setting up -->
<!-- virual environment could be seen as a pregame ritual -->

<!-- When I'm done with my Counter assignement, I will upload more notes -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title:  Post Form Submission</title>
</head>
<body>

    <div class "container">

    <!-- <h1>Index Page</h1> -->

    <h3>Create a User</h3>
<!-- KWV:  13:45  The outer shell of our form is comprised of three main aspects -->
            <!-- action, method, (below) and submit button (5 below) MUST BE INTACT-->
    <form action='/users' method='post'>
        <label for='name'>Name:</label>
        <input type='text' name='name'>
        <label for='email'>Email:</label>
        <input type='text' name='email'>
        <input type='submit' value='create user'>
    </form>
    <!-- 15:10 Action:  is the address or the url where we send form information to get processed
    <!--        processing route?  hard to follow--> 
    <!-- 15:30 our 'processing route' is where our action is taking us -->
        <!-- 15:40 'self explanitory' method='post' DANGEROUS ASSUMPTION FOR AN INSTRUCTOR TO MAKE --
                <!--  It sends information backwards in our application -->
        <!-- I used to do transcriptions at In These Times and VCU
        It's hard to keep up with video.  That's okay for class, not for instruction -->
        <!-- 16:03 Submit triggers the action.  I know this and don't need to transcribe review -->
        
        
        <!-- container -->
    </div>
    
</body>
</html>

<!-- 17:06 -- 18:33-->
    <!-- tangent methods in forms-->

<!-- I AM 14_POST_FORM_SUBMISSION SERVER.PY -->


<!-- 
<h1>Index Page</h1>
<h3>Create a User</h3>
<form action='/users' method='post'>
    <label for='name'>Name:</label>
    <input type='text' name='name'>
    <label for='email'>Email:</label>
    <input type='text' name='email'>
    <input type='submit' value='create user'>
</form> -->
