<!-- I AM 70_POST_FORM_SUBMISSION_KW INDEX.HTML -->

<!-- Think of it this way, the tediousness of setting up -->
<!-- virual environment could be seen as a pregame ritual -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class "container">
        
    <h1>Index Page</h1>

    <h3>Create a User</h3>

    <form action='/users' method='post'>
        <label for='name'>Name:</label>
        <input type='text' name='name'>
        <label for='email'>Email:</label>
        <input type='text' name='email'>
        <input type='submit' value='create user'>
    </form>
    
    <!-- container -->
    </div>
    
</body>
</html>



<!-- I AM 14_POST_FORM_SUBMISSION SERVER.PY -->


<!-- 
<h1>Index Page</h1>
<h3>Create a User</h3>
<form action='/users' method='post'>
    <label for='name'>Name:</label>
    <input type='text' name='name'>
    <label for='email'>Email:</label>
    <input type='text' name='email'>
    <input type='submit' value='create user'>
</form> -->
