<!-- I AM 20_dojo_survey index.html -->

<!-- Copy Edit Tools -->

<!-- HEY!  Note -->
<!-- STOP HEY! reminds me where I was and what was doing before I stop-->
<!-- FLOW=> name.file, line xx      dataflow from html to py
    
       this is a spot in the code that connects to another spot -->
                                <!-- how to make this directional?  11:03pm 5/17 -->
                                <!-- 5:29pm 5/18  changed TRK=> to FLOW=>-->

<!-- <= FLOW name.file, line xx      dataflow to py from html-->
<!-- HERE referencing data on same file -->

<!-- RbrDk      this is where I try to articulate/revise
                understaning of an observation or problem-->
<!-- TOGGLE  this is where I comment out different version of code
                to see if they work and how they work-->
<!-- WRONG   leaving a bad example, so I can learn from a good example -->

<!-- Hacks -->

        <!-- The two KW showed + budget a few ### so don't move lines around to much  -->

<!-- HEY! Post to GitHub Every Hour -->
<!-- Update time on server.py -->

<!-- HEY!  Try adding comments on fewer lines (sometimes)
            --and ctl z for legibility-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
<!-- link css later--do check question FLOW=> index.html line 22 ?? -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        <h1>Dojo Survey</h1>
        <!-- These are the forms I'm using -->
        <!-- form, text, select, select, textarea, submit -->
        <form action="/answer_the_questions" method="post"> 
            <!-- Code Above <=FLOW server.py, line 57 -->
<!--Hey! TOGGLE Code Below--I need to review display: flex 
                RCRSV so the problem I was trying to solve with display flex 
                fixed itself once I added the p-tags--because of block and in-line block properties?
                Still need to review inline, block inline block and flex-->
                <!-- DEFINE Each from the LP, then have TA translate--LATER hahaha
                1
                2
                3
                4        -->
                <!-- Would Below Code work? -->
                <!-- <form action="/process" method="post" class="container_augustus"> -->
                <!-- [MNM imprinting images and associating sequential order] -->
            <!-- TRY IT-->
                        <!-- abstract_DYN_emporer_01deed-->
                        <!-- MNM with concete images alongside abtractions-->

                        



        <!--  -->
            <p>Name:</p>
            <input type="text" name="first_name">
        <!-- Select:  should there be a default value? -->
        <!-- --Select a Location-- -->
            <p>Dojo Location</p>


            <select name="city">
                <option>Chicago</option>
                <option>Kings Landing</option>
                <option>Bespin</option>
                <option>Toledo</option>
            </select>

            <p>Dojo Location</p>
            <select name="language">
    <!-- Select:  should there be a default value? -->
    <!-- ==Select a Language-- -->
                <option>Python</option>
                <option>French</option>
                <option>'Merican</option>
                <option>Pig Latin</option>
            </select>

            <p>If you have spirit animal, what is it?</p>
            <p>If not, why not?</p>
            <textarea name="comment" cols="20" rows="3"></textarea>

            <!-- 7:43        7:51 fixed it.  copied over wrong--> 
            <!-- Code Below button below is not sending info -->
            <!-- to the route at <=FLOW server.py line 92 ?? -->
<!--HEY! Can I say this?:  Code Below REDIRECTS to show.html AND "show.html" is a template, right?-->
            <a href="/questions_answered">Probably Don't Need an a-tag</a>
            <input type="submit" value="Render Me Templates!" >
        </form>
    
    <!-- container -->
    </div>

    <!-- QUESTION: -->
    <!-- I want to move Below Code down on my browser -->
    <!-- But I don't want to play with CSS right now -->
    <!-- I'm using P-Tags to do that BUT -->
    <!-- I'm pretty sure there's a better way to do this -->

    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>  


    <div>

        <h3>Name Question</h3>
        <!-- TOGGLE? these aren't working-->
        <!-- Below Code DOES NOT work -->
        <p>Name Answer 01 {{ request.form["first_name"] }}</p> 
        <!-- Below 2 Code DOES work -->
        <p>Name Answer 02 {{ session["first_name"] }}</p> 
<!-- HEY!  Why does Below Code work on show.html but not index.html -->
        <p>Name Answer 03 {{ first_name }}</p>
        <!-- below caode DOES NOT work, prints string -->
        <p>Name Answer 04 {{ "first_name" }} </p>
        <!-- How to hook up with FLOW=> index.html line 66 -->
        <h4>{{ first_name }}</h4>

                <!-- This will probably look different for a 
        select bar (can I say "select tag"?) -->
        <h3>Location Question</h3>

        <p>City Answer 01 {{ request.form["city"] }}</p>
        <p>City Answer 02 {{ session["city"] }}</p>
        <p>City Answer 03 {{ city }}</p>
        <p>City Answer 04 {{ "city" }}</p>


        <h3>Language Question</h3>
        <!-- TOGGLE? these aren't working-->
        <!-- Below Code DOES NOT work -->
        <p>Name Answer 01 {{ request.form["language"] }}</p> 
        <!-- Below 2 Code DOES work -->
        <p>Name Answer 02 {{ session["language"] }}</p> 
<!-- HEY!  Why does Below Code work on show.html but not index.html -->
        <p>Name Answer 03 {{ language }}</p>
        <!-- below caode DOES NOT work, prints string -->
        <p>Name Answer 04 {{ "language" }} </p>
        <!-- How to hook up with FLOW=> index.html line 66 -->
        <h4>{{ language }}</h4>

                <!-- This will probably look different for a 
        select bar (can I say "select tag"?) -->
        <h3>Comment Question</h3>

        <p>Comment Answer 01 {{ request.form["comment"] }}</p>
        <p>Comment Answer 02 {{ session["comment"] }}</p>
        <p>Comment Answer 03 {{ comment }}</p>
        <p>Comment Answer 04 {{ "comment" }}</p>
        <h4>{{ comment }}</h4>


    </div>

</body>
</html>

<!-- HEY!  Accidently copied Code Below under the </html> -->
<!-- Why did it still print? -->
        <!-- This will probably look different for a 
        select bar (can I say "select tag"?) -->
        <!-- should hook up to FLOW=> index/html line 66 -->
        <h3>Location Question</h3>

        <p>City Answer 01 {{ request.form["city"] }}</p>
        <p>City Answer 02 {{ session["city"] }}</p>
        <p>City Answer 03 {{ city }}</p>
        <p>City Answer 04 {{ "city" }}</p>

<!-- ///////////////////////////////////// -->
<!-- ////////////////////Ask TA or Instrctor -->
<!-- ///////////////////////////////////// -->

<!-- I just spent 2 mintues readjusting the spaces on the show.html -->
<!-- The cmd D key went all the single spaces [including on the sides] -->
<!--  There's a faster way to do that, right?-->

<!-- <==== What are the little red dots on the side -->

<!-- Is it possible to push MySQL to github? -->

<!--ALSO

    Why does the sidecar mode for the iPad keep freezing?-->