<!-- I AM 20_dojo_survey show.html -->

<!-- HEY! Post to GitHub Every Hour -->
<!-- Last update at x:xx [maybe only track time on server.py]-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>

        <!-- how would I render this template?
             where would I hook up from server.py -->
        <!-- I don't think I'll need jinja -->

    <h1>Dojo Survey</h1>
    
    <!-- <form action="/process" method="post"> -->
        <p>Name:</p>

        <p>Dojo Location</p>

        <p>Dojo Language</p>

        <p>Interesting answer...</p>
        <p>Mine's a cockatoo!</p>


    <input type="submit" value="Get Back Jo Jo!" >
    <!-- </form> -->
    

    <!-- container -->
    </div>
</body>
</html>


<!-- ///////////////////////////////////// -->
<!-- ////////////////////Ask TA -->
<!-- ///////////////////////////////////// -->

<!-- I just spent 2 mintues readjusting the spaces on the Above Code  -->
<!-- The cmd D key went all the single spaces [including on the sides] -->
<!--  There's a faster way to do that, right?-->