<!-- I AM 20_dojo_survey show.html -->

<!-- HEY! Post to GitHub Every Hour -->
<!-- Update time on server.py -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>

        <!-- how would I render this template?
             where would I hook up from server.py -->
                    <!-- show.html TEMPLATE IS BEING RENDERED -->
                        <!-- at server.py line 117, right? -->
        <!-- I don't think I'll need jinja -->
                    <!-- NO JINJA because we are not displaying text
                        on the same template based on a conditional-->

        <h1>Dojo Survey</h1>
    

        <p>Name:   {{ session["first_name"] }}</p>

        <p>Dojo Location:  {{ session["city"] }}</p>

        <p>Dojo Language:  {{ session["language"] }}</p>

        <p>You said,  "{{session["comment"]}}?"</p>

        <p>That's an interesting answer...</p>
        <p>Mine's a cockatoo!</p>


        <!-- TOGGLE -->
<!-- QUESTION:  Why does route on show.html line 45 clear the session data?-->
        <a href="/reset">Get Back Jo Jo /reset</a>
        <a href="/">Get Back Jo Jo / </a>
        <!-- My first plan was to make Code Below [REDIRECT?] back to index.html-->
        <!-- Should I make the button below redirect?  Or is that not a thing... -->
        <input type="submit" value="Get Back Jo Jo!" >
    
    <!-- </form> -->
    

    <!-- container -->
    </div>

<!-- QUESTION: -->
    <!-- I want to move Below Code down on my browser -->
    <!-- But I don't want to play with CSS right now -->
    <!-- I'm using P-Tags to do that BUT -->
    <!-- I'm pretty sure there's a better way to do this -->

    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>  
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>

    <div>
        <h3>Name Question</h3>
        <!-- Below Code DOES NOT work-->
        <p>Name Answer 01 {{ request.form["first_name"] }}</p>
        <!-- Below Code DOES work-->        
        <p>Name Answer 02 {{ session["first_name"] }}</p>
<!--HEY!   Below Code DOES work, but not on index.html  Why not?-->
        <p>Name Answer 03 {{ first_name }}</p>
        <!-- Below Code DOES NOT work, print string-->
        <p>Name Answer 04 {{ "first_name" }}</p>
        <!-- How to hook up with TRK=> index.html line 52 -->
        <h4>{{ first_name }}</h4>
<!-- QUESTION:  Why does H4 not print? -->

                <!-- This will probably look different for a 
        select bar (can I say "select tag"?) -->
        <h3>Location Question</h3>

        <p>City Answer 01 {{ request.form["city"] }}</p>
        <p>City Answer 02 {{ session["city"] }}</p>
        <p>City Answer 03 {{ city }}</p>
        <p>City Answer 04 {{ "city" }}</p>

        <h3>Language Question</h3>
        <!-- TOGGLE? these aren't working-->
        <!-- Below Code DOES NOT work -->
        <p>Name Answer 01 {{ request.form["language"] }}</p> 
        <!-- Below 2 Code DOES work -->
        <p>Name Answer 02 {{ session["language"] }}</p> 

        <p>Name Answer 03 {{ language }}</p>
        <!-- below caode DOES NOT work, prints string -->
        <p>Name Answer 04 {{ "language" }} </p>
        <!-- How to hook up with TRK=> index.html line 66 -->
        <h4>{{ language }}</h4>

                <!-- This will probably look different for a 
        select bar (can I say "select tag"?) -->
        <h3>Comment Question</h3>

        <p>Comment Answer 01 {{ request.form["comment"] }}</p>
        <p>Comment Answer 02 {{ session["comment"] }}</p>
        <p>Comment Answer 03 {{ comment }}</p>
        <p>Comment Answer 04 {{ "comment" }}</p>
        <h4>{{ comment }}</h4>


    </div>
</body>
</html>


<!-- ///////////////////////////////////// -->
<!-- ////////////////////Ask TA -->
<!-- ///////////////////////////////////// -->

<!-- I just spent 2 mintues readjusting the spaces on the Above Code  -->
<!-- The cmd D key went all the single spaces [including on the sides] -->
<!--  There's a faster way to do that, right?-->