<!-- I AM 18-a_counter index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Me 12:55 should each html page have a diffent title? -->
    <title>73-a Session (Counter)</title>
</head>
<body>

    <div class="container">

    <!-- 73 9:54 TRK==> line 82ish 73 session_counter_kw server.py -->
    <h1>Count {{ count }}</h1>

    <h3>Create a User</h3>
<!-- KWV:  13:45  The outer shell of our form is comprised of three main aspects -->
    <!-- action, method, (below) and submit button (5 below) MUST BE INTACT-->
    <form action='/users' method='post'>

        <label for='name'>Name:</label>
        <input type='text' name='username'>

        <label for='email'>Email:</label>
        <input type='text' name='email'>

        <input type='submit' value='create user'>

    </form>
        
    <!-- 15:10 Action:  is the address or the url where we send form information to get processed
    <!--processing route?  hard to follow--> 
    <!-- 15:30 our 'processing route' is where our action is taking us -->
<!-- 15:40 'self explanitory' method='post' DANGEROUS ASSUMPTION FOR AN INSTRUCTOR TO MAKE --
<!--  It sends information backwards in our application -->
<!-- I used to do transcriptions at In These Times and VCU
It's hard to keep up with video.  That's okay for class recording, not a substitute for an instructional video -->
<!-- 16:03 Submit triggers the action.  I know this and don't need to transcribe review -->
<!-- 19:15 Postage Analogy.  This should be on LP -->
    <!-- form  is creating package -->
    <!-- package is immutable dictionary -->
    <!-- inside the package -->
    <!-- all info has it's own label -->
    <!-- name = label (each input has name) -->
    <!-- hit submit --wrap up package -->
    <!-- /users on 66 is the address -->
<!-- 20:00 Back end unwraps package, needs-->
    <!-- 1. method equals post, a stamp -->
    <!--  2.  action is an address-->

<!-- container -->
    </div>
    
</body>
</html>