<!-- I AM 18-a_counter index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Me 12:55pm should each html page have a diffent title? -->
    <title>18-a Counter</title>
</head>
<body>

    <div class="container_FLV_vespasian">

    <!-- TRK? ==> Does it go to line 36, 18_counter server.py -->
    <h1>Count {{ count }}</h1>

    <h3>Create a User</h3>
<!-- KWV:  13:45  The outer shell of our form is comprised of three main aspects -->
    <!-- action, method, (below) and submit button (10 below) MUST BE INTACT-->
    <form action='/users' method='post'>
    <!-- TRK?  Does it go to line 36, 18_counter server.py-->

        <label for='name'>Name:</label>
        <input type='text' name='username'>

        <label for='email'>Email:</label>
        <input type='text' name='email'>

        <input type='submit' value='create user'>

    </form>
        
<!-- container_FLV_vespasian -->
    </div>


    <div class="container_FLV_titus">

        <!-- 73 9:54 TRK==> line 27 18_counter server.py -->
        <h1>Count {{ count }}</h1>
    
        <h3>Create a User</h3>
    <!-- KWV:  13:45  The outer shell of our form is comprised of three main aspects -->
        <!-- action, method, (below) and submit button (10 below) MUST BE INTACT-->
        <form action='/users' method='post'>
        <!-- TRK?  Does it go to line 36, 18_counter server.py-->
    
            <label for='name'>Name:</label>
            <input type='text' name='username'>
    
            <label for='email'>Email:</label>
            <input type='text' name='email'>
    
            <input type='submit' value='create user'>
    
        </form>
            
    <!-- container_FLV_titus -->
        </div>


<div class="container_FLV_domitian">

    <!-- TRK? ==> Does it go to line 36, 18_counter server.py -->
    <h1>Count {{ count }}</h1>

    <h3>Create a User</h3>
<!-- KWV:  13:45  The outer shell of our form is comprised of three main aspects -->
    <!-- action, method, (below) and submit button (10 below) MUST BE INTACT-->
    <form action='/users' method='post'>
    <!-- TRK?  Does it go to line 36, 18_counter server.py-->

        <label for='name'>Name:</label>
        <input type='text' name='username'>

        <label for='email'>Email:</label>
        <input type='text' name='email'>

        <input type='submit' value='create user'>
        <!-- me 6:35pm why do ABOVE 7 lines copy in the wrong margins? -->
    </form>

<!-- container_FLV_domitian -->
    </div>

            
</body>
</html>