<!-- I AM 18-b_counter show.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Me 12:55 should each html page have a diffent title? -->
    <title>18-b Counter</title>
</head>
<body>

    <!-- class="abstract-concept_narrative_subplot" -->
    <div class="container_stark_ned">

    <!-- added at 72 13:36    13:59 ctrl + Shift + R b what did that do?-->
    <p>{{ session["user"]}}</p>

    <!-- added below at 0:35 -->
    <a href="/reset">Reset Session</a>

    <!-- container_stark_ned -->
    </div>

    <!-- class="abstract-concept_narrative_subplot" -->
    <div class="container_stark_cat">

        <!-- added at 72 15:48, this the same above, why?  why not?   -->
        <p>{{username}}</p>  
        <!-- why is above code not on display in browser?-->
    
        <!-- container_stark_cat -->
    </div>


    <!-- class="abstract-concept_narrative_subplot" -->
    <div class="container_stark_rob">

        <!-- added at 72 13:36    13:59 ctrl + Shift + R b what did that do?-->
         <p>{{ session["user"]}}</p>
        
        <!-- container_stark_rob -->
        </div>

    <!-- class="abstract-concept_narrative_subplot" -->
    <div class="container_stark_sansa">
        
        <!-- added at 72 15:48, this the same above, why?  why not?   -->
        <p>{{username}}</p>  
        <!-- why is above code not on display in browser?-->
            
        <!-- container_stark_sansa -->
    </div>
                
</body>
</html>



