<!-- I AM 18_counter z04_index.html -->

<!-- hard coding url add2 will add 2 to the count -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Me 12:55pm should each html page have a diffent title? -->
    <title>18-z02 Counter</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>


    <div class="container_FLV_vespasian">
        <p class="bigger-font">Counter</p>    
        <!-- TRK? ==> Does it go to line 22, 18_counter server.py -->
        <p>{{ count }} Times!<p>
    <div class="links">
        <a href="/">Click Me!</a>
        <a href="/destroy_session">Reset!</a>
    </div>
    <div class="links">
        <a href="/add2">Add Two!</a>
        <a href="/nero">Nero...</a>
    </div>
    <div class="links">
        <a href="/subtract10">Subtract Ten!</a>
        <a href="/agrippina">Agrippina</a>
    </div>
    <div class="links">
        <a href="/multiply5">Multiply Five!</a>
        <a href="/seneca">Seneca!</a>
    </div>
    <div class="links">
        <a href="/divide2">Divide Two!</a>
        <a href="/galba">Galba</a>
    </div>   

    <div class="forms">
        <!-- Why does H3 display below the form? -->
        <h3>How much should we add?  You decide!</h3>

        <form action='/users' method='post'>
            <!-- I think I have the for, type, and name wrong -->
            <label for='number'>Add it!:</label>
            <input type='number' name='number'>
    
            <input type='submit' value='Add it!'>
        </form>
    </div>
<!-- container_FLV_vespasian -->
    </div>

    <div class="container_FLV_titus">

        <!-- won't [term -render?] -->
        <form action='/add2' method='post'>
            <input class="green" type='submit' value='Add Two!'>
        </form>

        <!-- won't [term -render?] -->
        <form action='/destroy_session' method='post'>
            <input class="red" type='submit' value='Reset!'>
        </form>


    <!-- container_FLV_titus -->
    </div>

    <div class="container_FLV_domitian">

        <!-- won't [term -render?] -->
        <form action='/add2' method='post'>
            <input class="green" type='submit' value='Add Two!'>
        </form>

        <!-- won't [term -render?] -->
        <form action='/destroy_session' method='post'>
            <input class="red" type='submit' value='Reset!'>
        </form>


    <!-- container_FLV_domitian -->
    </div>


        

</body>
</html>