<!-- I AM 18_counter z03_index.html -->

<!-- hard coding url add2 will add 2 to the count -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Me 12:55pm should each html page have a diffent title? -->
    <title>18-z02 Counter</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>


    <div class="container_FLV_vespasian">

    <p class="bigger-font">Counter</p>    
    <!-- TRK? ==> Does it go to line 36, 18_counter server.py -->
    <p>{{ count }} Times!<p>

<!-- KWV:  13:45  The outer shell of our form is comprised of three main aspects -->
    <!-- action, method, (below) and submit button (10 below) MUST BE INTACT-->
    <!-- <form action='/users' method='post'> -->
    <!-- TRK?  Does it go to line 36, 18_counter server.py-->

    <!-- <div class="box_FLV_vespasian">
        <input class="green" type='submit' value='Click!'>
        <input class="red" type='submit' value='Reset!'>
    </div>  -->

    <div class="box_FLV_vespasian">
        <form action='/users' method='post'>
            <input action="/add2" class="green" type='submit' value='Add Two!'>
        </form>
        <form action='/users' method='post'>
            <input action="/destroy_session" class="red" type='submit' value='Reset!'>
        </form>
    <!-- box_FLV_vespasian
    </div> -->

        
<!-- container_FLV_vespasian -->
    </div>

    <div class="box_FLV_vespasian">

        <!-- won't [term -render?] -->
        <form action='/add2' method='post'>
            <input class="green" type='submit' value='Add Two!'>
        </form>

        <!-- won't [term -render?] -->
        <form action='/destroy_session' method='post'>
            <input class="red" type='submit' value='Reset!'>
        </form>

    <!-- box_FLV_vespasian -->
    </div>

        

</body>
</html>