<!-- I AM 18_counter z05_index.html -->

<!-- hard coding url add2 will add 2 to the count -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Me 12:55pm should each html page have a diffent title? -->
    <title>18-z02 Counter</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class="center-me">
        <h1>Too Late!</h1>
        <h2>You Must Destroy your session!</h2>
    </div>
    <div class="center-me">s
        <img src="/static/scrsh/nero-37-68-roman-emperor-marble-portrait-head.jpg" alt="nero">
        <p>HAHAHAHAHAHA</p>
        <a href="/destroy_session">Reset!</a>
    </div>


</body>
</html>