<!-- I AM 73-b_session_counter show.html -->

<!-- # KW PYTHON APRIL 2022 Session Counter -->

<!-- created at 72: 13:10, ME 5-15 1:47pm-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Me 12:55 should each html page have a diffent title? -->
    <title>73-b Session (Counter)</title>
</head>
<body>

    <!-- class="abstract-concept_narrative_subplot" -->
    <div class="container_JC_augustus">

    <!-- added at 72 13:36    13:59 ctrl + Shift + R b what did that do?-->
    <p>{{ session["user"]}}</p>

    <!-- added below at 0:35 -->
    <a href="/reset">Reset Session</a>

    <!-- container_JC_augustus -->
    </div>







    <!-- class="abstract-concept_narrative_subplot" -->
    <div class="container_JC_tiberius">

        <!-- added at 72 15:48, this the same above, why?   -->
        <p>{{username}}</p>  
        <!-- why is above code not on display in browser?-->
    
        <!-- container_JC_tiberius -->
    </div>











    <!-- class="abstract-concept_narrative_subplot" -->
    <div class="container_GE_nerva">

        <!-- added at 72 13:36    13:59 ctrl + Shift + R b what did that do?-->
         <p>{{ session["user"]}}</p>
        
        <!-- container_GE_nerva -->
        </div>

    <!-- class="abstract-concept_narrative_subplot" -->
    <div class="container_GE_trajan">
        
        <!-- added at 72 15:48, this the same above, why?   -->
        <p>{{username}}</p>  
        <!-- why is above code not on display in browser?-->
            
        <!-- container_GE_trajan -->
    </div>
                
</body>
</html>


<!-- Me 2:28 I just spent five or so minutes reformating nerva_ -->
<!-- LP could prevent this, elaborate later -->






<!-- ///Me 2:34 -->

<!-- symbols -->

<!-- <div class="container_DYNASTY_emperor"> -->
<!-- could be done with colors and shapes -->

<!-- <div class="container_green_red"> -->
<!-- <div class="container_triangle_circle"> -->
<!-- <div class="container_green-triangle_red-circle"> -->



<!-- ///Me 3:12-->

<!-- SPOILER ALERT!  DON'T READ BELOW IF YOU HAVEN'T SEEN GOT -->
<!-- class="abstractConcept_narrative_subplot" -->
<!-- class="container_got-season_subplot" -->
<!-- class="container_got-S1_nedGoesToKingsLanding" -->
<!-- class="container_got-S1_joffereyIsInbred" -->
<!-- class="container_got-S1_noHeadNed" -->
<!-- class="container_got-S2_danyInTheDesert" -->
<!-- class="container_got-S2_danyWhereAreMyDragons?" -->
<!-- class="container_got-S2_danyBurnTheBadWizard" -->
<!-- SPOILER ALERT!  DON'T READ BELOW IF YOU HAVEN'T SEEN GOT -->

<!-- MUSIC -->

<!-- class="abstractConcept_bandOrMusican_albumsInOrder" -->
<!-- class="box_nirvana_bleach" -->
<!-- class="box_nirvana_nevermind" -->
<!-- class="box_nirvana_InUtero" -->

<!-- SPORTS -->

<!-- class="abstractConcept_team_J#_Name" -->
<!-- class="container_nirvana_bleach" -->
<!-- class="container_nirvana_nevermind" -->
<!-- class="container_nirvana_InUtero" -->

<!-- I'm sure you could do one about Pokemon -->

<!-- what was the algo with the dumb e for pokemon -->
<!-- that was another distraction/ineffeciency -->